<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
</head>
<body bgcolor="black">
<font color="white">
    <h1>Prognoza pogody</h1>

    Prognoza dla miasta:
    <td th:text="${weather.getName()}"/>
    <p>

    </p>
    Temperatura:
    <td th:text="${weather.getMain().getTemp()}"/>
    *C
    <p>
        Ciśnienie:
    <td th:text="${weather.getMain().getPressure()}"/>
    hPa
    </p>

    <p>
        Wilgotność :
    <td th:text="${weather.getMain().getHumidity()}"/>
    %
    </p>

    <tr th:each="desc : ${weather.getWeather()}">

        Opis:
        <td th:text="${desc.getDescription()}"/>

    </tr>
    <p>

        <img th:src="${icon}"/>

    </p>
    <form th:action="@{/weather/set-city}" th:object="${city}"  method="post">
        Wprowadź miasto: <input type="text" th:field="*{city}" >
        <input type="submit" value="OK">
    </form>
</font>
</body>
</html>